In [26]:
import pandas as pd

In [27]:
df = pd.read_excel('Restaurant_1.xlsx')

In [28]:
dfnew = pd.concat([df]*3)

In [19]:
dfnew.head(15)

,Unnamed: 0,restaurant_id,restaurant_name,price,rating,review_count
0,0,ehUuSk5gPTCQmwS_ubgKRA,Upstate,$$,4.5,1784
1,1,ETgJqJHV7BW6pIr9Ox74sA,Amélie,$$,4.5,2565
2,2,jjJc_CrkB2HodEinB6cWww,LoveMama,$$,4.5,4570
3,3,C2o3Iw-DXjoUJFgQIbiqkQ,BoCaphe,$$,4.0,1288
4,4,CwOAKJdX8AMz5iAoA-ZEuA,Uglyduckling,$$,4.0,458
5,5,0CjK3esfpFcxIopebzjFxA,Joe's Shanghai,$$,4.0,5942
6,6,UA2M9QFZghe-9th2KwLoWQ,Burger & Lobster,$$,4.0,5273
7,7,s3jou_L_LVYGkNHiuhjlew,Boucherie West Village,$$$,4.5,1266
8,8,VvsZAnEwU4c8Xkyrzx05Nw,Anytime,$$,4.5,920
9,9,I2lgw_7DUnwD92ND4PN-Ow,Aunt Jake's,$$,4.0,1349
10,10,B3_K2kUVbYOU0VaLcj_LTw,Thai Villa,$$,4.5,2884
11,11,ysqgdbSrezXgVwER2kQWKA,Juliana's Pizza,$$,4.5,2080
12,12,xt4sa64WOrpJvZBDPNPNYg,Jacob's Pickles,$$,4.0,3894
13,13,FlZ1zdVEKWv7dwqm8Uw8-w,Raku,$$,4.5,962
14,14,xZ96vaoL-cQjfotmUKtjJQ,Barn Joo 35,$$,4.5,1733

In [12]:
df.describe()

        Unnamed: 0       rating  review_count
count  1000.000000  1000.000000   1000.000000
mean    499.500000     4.174500    728.774000
std     288.819436     0.307236    950.614108
min       0.000000     3.000000      4.000000
25%     249.750000     4.000000    191.750000
50%     499.500000     4.000000    444.000000
75%     749.250000     4.500000    923.250000
max     999.000000     5.000000  11706.000000

In [13]:
dfnew.describe()

        Unnamed: 0       rating  review_count
count  3000.000000  3000.000000   3000.000000
mean    499.500000     4.174500    728.774000
std     288.723115     0.307134    950.297078
min       0.000000     3.000000      4.000000
25%     249.750000     4.000000    191.750000
50%     499.500000     4.000000    444.000000
75%     749.250000     4.500000    923.250000
max     999.000000     5.000000  11706.000000

In [29]:
dfnew.sort_index(axis=0)

,Unnamed: 0,restaurant_id,restaurant_name,price,rating,review_count
0,0,ehUuSk5gPTCQmwS_ubgKRA,Upstate,$$,4.5,1784
0,0,ehUuSk5gPTCQmwS_ubgKRA,Upstate,$$,4.5,1784
0,0,ehUuSk5gPTCQmwS_ubgKRA,Upstate,$$,4.5,1784
1,1,ETgJqJHV7BW6pIr9Ox74sA,Amélie,$$,4.5,2565
1,1,ETgJqJHV7BW6pIr9Ox74sA,Amélie,$$,4.5,2565
1,1,ETgJqJHV7BW6pIr9Ox74sA,Amélie,$$,4.5,2565
2,2,jjJc_CrkB2HodEinB6cWww,LoveMama,$$,4.5,4570
2,2,jjJc_CrkB2HodEinB6cWww,LoveMama,$$,4.5,4570
2,2,jjJc_CrkB2HodEinB6cWww,LoveMama,$$,4.5,4570
3,3,C2o3Iw-DXjoUJFgQIbiqkQ,BoCaphe,$$,4.0,1288
3,3,C2o3Iw-DXjoUJFgQIbiqkQ,BoCaphe,$$,4.0,1288
3,3,C2o3Iw-DXjoUJFgQIbiqkQ,BoCaphe,$$,4.0,1288
4,4,CwOAKJdX8AMz5iAoA-ZEuA,Uglyduckling,$$,4.0,458
4,4,CwOAKJdX8AMz5iAoA-ZEuA,Uglyduckling,$$,4.0,458
4,4,CwOAKJdX8AMz5iAoA-ZEuA,Uglyduckling,$$,4.0,458
5,5,0CjK3esfpFcxIopebzjFxA,Joe's Shanghai,$$,4.0,5942
5,5,0CjK3esfpFcxIopebzjFxA,Joe's Shanghai,$$,4.0,5942
5,5,0CjK3esfpFcxIopebzjFxA,Joe's Shanghai,$$,4.0,5942
6,6,UA2M9QFZghe-9th2KwLoWQ,Burger & Lobster,$$,4.0,5273
6,6,UA2M9QFZghe-9th2KwLoWQ,Burger & Lobster,$$,4.0,5273
6,6,UA2M9QFZghe-9th2KwLoWQ,Burger & Lobster,$$,4.0,5273
7,7,s3jou_L_LVYGkNHiuhjlew,Boucherie West Village,$$$,4.5,1266
7,7,s3jou_L_LVYGkNHiuhjlew,Boucherie West Village,$$$,4.5,1266
7,7,s3jou_L_LVYGkNHiuhjlew,Boucherie West Village,$$$,4.5,1266
8,8,VvsZAnEwU4c8Xkyrzx05Nw,Anytime,$$,4.5,920
8,8,VvsZAnEwU4c8Xkyrzx05Nw,Anytime,$$,4.5,920
8,8,VvsZAnEwU4c8Xkyrzx05Nw,Anytime,$$,4.5,920
9,9,I2lgw_7DUnwD92ND4PN-Ow,Aunt Jake's,$$,4.0,1349
9,9,I2lgw_7DUnwD92ND4PN-Ow,Aunt Jake's,$$,4.0,1349
9,9,I2lgw_7DUnwD92ND4PN-Ow,Aunt Jake's,$$,4.0,1349
...,...,...,...,...,...,...
990,990,7MzisfVMYsZYTFJv9Unpzw,Mr. Taka Ramen,$$,4.0,428
990,990,7MzisfVMYsZYTFJv9Unpzw,Mr. Taka Ramen,$$,4.0,428
990,990,7MzisfVMYsZYTFJv9Unpzw,Mr. Taka Ramen,$$,4.0,428
991,991,IxFTW7805MrWpbV4RbSFhw,Little Rascal,$$,4.0,213
991,991,IxFTW7805MrWpbV4RbSFhw,Little Rascal,$$,4.0,213
991,991,IxFTW7805MrWpbV4RbSFhw,Little Rascal,$$,4.0,213
992,992,s5nPO911cYB2chdwqSqT9g,La Nonna Ristorante & Bar,$$,4.0,275
992,992,s5nPO911cYB2chdwqSqT9g,La Nonna Ristorante & Bar,$$,4.0,275
992,992,s5nPO911cYB2chdwqSqT9g,La Nonna Ristorante & Bar,$$,4.0,275
993,993,RvGRsgnHfLXH4q9SWPeaoQ,Zeytin Mediterranean,$$,4.0,86
993,993,RvGRsgnHfLXH4q9SWPeaoQ,Zeytin Mediterranean,$$,4.0,86
993,993,RvGRsgnHfLXH4q9SWPeaoQ,Zeytin Mediterranean,$$,4.0,86
994,994,LSTcQPMmoSdd68zur-aNdw,Itaewon,$$,4.5,77
994,994,LSTcQPMmoSdd68zur-aNdw,Itaewon,$$,4.5,77
994,994,LSTcQPMmoSdd68zur-aNdw,Itaewon,$$,4.5,77
995,995,GBk_i2qnjMtQIt_ntJpzbw,Ramen Andante,$$,4.5,44
995,995,GBk_i2qnjMtQIt_ntJpzbw,Ramen Andante,$$,4.5,44
995,995,GBk_i2qnjMtQIt_ntJpzbw,Ramen Andante,$$,4.5,44
996,996,PHMkwS5nmo4IUXbcg0OcAg,Jajaja,NaN,4.5,17
996,996,PHMkwS5nmo4IUXbcg0OcAg,Jajaja,NaN,4.5,17
996,996,PHMkwS5nmo4IUXbcg0OcAg,Jajaja,NaN,4.5,17
997,997,jh42MR1OQFAFMhe_pQEzmw,Rustic Table,$$,4.0,790
997,997,jh42MR1OQFAFMhe_pQEzmw,Rustic Table,$$,4.0,790
997,997,jh42MR1OQFAFMhe_pQEzmw,Rustic Table,$$,4.0,790
998,998,FXhSEZfIqjMZh4hR0_8jMQ,China Xiang 中国湘,$$,4.0,428
998,998,FXhSEZfIqjMZh4hR0_8jMQ,China Xiang 中国湘,$$,4.0,428
998,998,FXhSEZfIqjMZh4hR0_8jMQ,China Xiang 中国湘,$$,4.0,428
999,999,9epyzBMgOVV71p22eYyjRA,Highlands NYC,$$,4.0,397
999,999,9epyzBMgOVV71p22eYyjRA,Highlands NYC,$$,4.0,397
999,999,9epyzBMgOVV71p22eYyjRA,Highlands NYC,$$,4.0,397

In [30]:
dfnew.drop(columns='Unnamed: 0')

,restaurant_id,restaurant_name,price,rating,review_count
0,ehUuSk5gPTCQmwS_ubgKRA,Upstate,$$,4.5,1784
1,ETgJqJHV7BW6pIr9Ox74sA,Amélie,$$,4.5,2565
2,jjJc_CrkB2HodEinB6cWww,LoveMama,$$,4.5,4570
3,C2o3Iw-DXjoUJFgQIbiqkQ,BoCaphe,$$,4.0,1288
4,CwOAKJdX8AMz5iAoA-ZEuA,Uglyduckling,$$,4.0,458
5,0CjK3esfpFcxIopebzjFxA,Joe's Shanghai,$$,4.0,5942
6,UA2M9QFZghe-9th2KwLoWQ,Burger & Lobster,$$,4.0,5273
7,s3jou_L_LVYGkNHiuhjlew,Boucherie West Village,$$$,4.5,1266
8,VvsZAnEwU4c8Xkyrzx05Nw,Anytime,$$,4.5,920
9,I2lgw_7DUnwD92ND4PN-Ow,Aunt Jake's,$$,4.0,1349
10,B3_K2kUVbYOU0VaLcj_LTw,Thai Villa,$$,4.5,2884
11,ysqgdbSrezXgVwER2kQWKA,Juliana's Pizza,$$,4.5,2080
12,xt4sa64WOrpJvZBDPNPNYg,Jacob's Pickles,$$,4.0,3894
13,FlZ1zdVEKWv7dwqm8Uw8-w,Raku,$$,4.5,962
14,xZ96vaoL-cQjfotmUKtjJQ,Barn Joo 35,$$,4.5,1733
15,nU4XBdvxDABXqZ6CnB8Dig,Clinton Street Baking Company,$$,4.0,4850
16,hmdm-dO72hLsMQwQRcGEUQ,Atrium Dumbo,$$,3.5,652
17,LpVbI-E9C-CSp7WhU5h2Iw,Fishmarket Restaurant,$$,4.5,535
18,cTE0e96GYzet799EJeStoQ,Chama Mama,$$,4.5,148
19,fVbUVAiLiGgLA_nxBFxyww,Thursday Kitchen,$$,4.5,1242
20,ULt3kmA0_hbZ3j6cMORCaA,Root & Bone,$$,4.0,1546
21,44SY464xDHbvOcjDzRbKkQ,Ippudo NY,$$,4.0,9848
22,qOomR3AwClOGpV1HdqOTFg,Les Enfants de Boheme,$$,4.5,222
23,Lbs8QBRN1U7IYBo5Mcv-RQ,88 Lan Zhou Handmade Noodle,$,4.0,1750
24,X8ZS-dgiMIJvhwf9SaDnjw,Wah Fung No 1 Fast Food,$,4.5,1324
25,qEe7nIhPfEL6L0-VYhWRrA,Raku,$$,4.5,302
26,XipQLDbyTl5tsLlyzAWzug,Jajaja,$$,4.5,797
27,kxykwx5qTWBhlMh18MQ82Q,Luke's Lobster FiDi,$$,4.5,1114
28,I6KHYESZdZQz0fnMaMyIpQ,Zusik,$$,5.0,81
29,qm1J_dPA5IHij1oAnoZwHw,nonono,$$,4.5,514
...,...,...,...,...,...
970,xemN4tP9RlK5c-yUT-M71Q,Mamasita Bar & Grill,$$,4.0,977
971,KSleHGTG1yL1E7OEFFPoNQ,LaoMa Spicy,$$,4.0,116
972,b8J-hvOyE9D7fc0sFJ8HUA,Surfish Bistro,$$,4.0,309
973,QAGFu7pqCAZUJkYkUB5pjg,Urbanspace Vanderbilt,$$,4.0,629
974,HiNUBUR1hFwScd_OvVLQAg,La Pecora Bianca,$$,4.0,513
975,4b43TOXpskBPZqQzbKkwDQ,Le Botaniste,$$,4.5,116
976,15k7iqFbhf4h8L01yggLqg,Song E Napule,$$,4.5,425
977,z7H9ApIGopnDnQaglnPTzg,Allora Ristorante,$$$,4.5,477
978,B8uEWQoTILlTNajCmJVOcQ,Mezetto,$$,4.0,577
979,B3i4zs5wquFu1UZyzYJ-bQ,BaoHaus,$$,3.5,1918
980,4LoroCI3VtQ17dyQa75-Rg,The Warren,$$,4.0,210
981,PszZvrDqzgPpl6SQuk3K9Q,Endswell Bar & Bistro,NaN,4.5,37
982,J0OeDwmh5JBhid0A5GvltA,Il Corallo Trattoria,$$,4.0,921
983,JEuIdK9hzci9g_TuwfnZ_w,Society Cafe,$$,4.0,141
984,pG-IkylRFOb-HlaD8NwvvQ,La Loteria,$$,4.0,313
985,bdKc4CSJPv-XLgxVwrtPrg,Forlini's Restaurant,$$,4.5,412
986,JdXqygDw4yXQcy5lw9VI4A,Oasis,$,4.0,608
987,1p4dUaLyzIhN5n1lJnHSgA,Bustan,$$,4.0,488
988,Z65cd3Z7JvwK8TnSVg-cfA,District Tap House,$$,4.0,801
989,BbMUXd69i0tlWS2aoppwaQ,El Camion,$$,4.0,673
990,7MzisfVMYsZYTFJv9Unpzw,Mr. Taka Ramen,$$,4.0,428
991,IxFTW7805MrWpbV4RbSFhw,Little Rascal,$$,4.0,213
992,s5nPO911cYB2chdwqSqT9g,La Nonna Ristorante & Bar,$$,4.0,275
993,RvGRsgnHfLXH4q9SWPeaoQ,Zeytin Mediterranean,$$,4.0,86
994,LSTcQPMmoSdd68zur-aNdw,Itaewon,$$,4.5,77
995,GBk_i2qnjMtQIt_ntJpzbw,Ramen Andante,$$,4.5,44
996,PHMkwS5nmo4IUXbcg0OcAg,Jajaja,NaN,4.5,17
997,jh42MR1OQFAFMhe_pQEzmw,Rustic Table,$$,4.0,790
998,FXhSEZfIqjMZh4hR0_8jMQ,China Xiang 中国湘,$$,4.0,428
999,9epyzBMgOVV71p22eYyjRA,Highlands NYC,$$,4.0,397

In [25]:
dfnew.head()

,Unnamed: 0,restaurant_id,restaurant_name,price,rating,review_count
0,0,ehUuSk5gPTCQmwS_ubgKRA,Upstate,$$,4.5,1784
1,1,ETgJqJHV7BW6pIr9Ox74sA,Amélie,$$,4.5,2565
2,2,jjJc_CrkB2HodEinB6cWww,LoveMama,$$,4.5,4570
3,3,C2o3Iw-DXjoUJFgQIbiqkQ,BoCaphe,$$,4.0,1288
4,4,CwOAKJdX8AMz5iAoA-ZEuA,Uglyduckling,$$,4.0,458

In [31]:
dfnew.sort_index(axis=0, inplace=True)

In [33]:
dfnew.head(20)

,Unnamed: 0,restaurant_id,restaurant_name,price,rating,review_count
0,0,ehUuSk5gPTCQmwS_ubgKRA,Upstate,$$,4.5,1784
0,0,ehUuSk5gPTCQmwS_ubgKRA,Upstate,$$,4.5,1784
0,0,ehUuSk5gPTCQmwS_ubgKRA,Upstate,$$,4.5,1784
1,1,ETgJqJHV7BW6pIr9Ox74sA,Amélie,$$,4.5,2565
1,1,ETgJqJHV7BW6pIr9Ox74sA,Amélie,$$,4.5,2565
1,1,ETgJqJHV7BW6pIr9Ox74sA,Amélie,$$,4.5,2565
2,2,jjJc_CrkB2HodEinB6cWww,LoveMama,$$,4.5,4570
2,2,jjJc_CrkB2HodEinB6cWww,LoveMama,$$,4.5,4570
2,2,jjJc_CrkB2HodEinB6cWww,LoveMama,$$,4.5,4570
3,3,C2o3Iw-DXjoUJFgQIbiqkQ,BoCaphe,$$,4.0,1288
3,3,C2o3Iw-DXjoUJFgQIbiqkQ,BoCaphe,$$,4.0,1288
3,3,C2o3Iw-DXjoUJFgQIbiqkQ,BoCaphe,$$,4.0,1288
4,4,CwOAKJdX8AMz5iAoA-ZEuA,Uglyduckling,$$,4.0,458
4,4,CwOAKJdX8AMz5iAoA-ZEuA,Uglyduckling,$$,4.0,458
4,4,CwOAKJdX8AMz5iAoA-ZEuA,Uglyduckling,$$,4.0,458
5,5,0CjK3esfpFcxIopebzjFxA,Joe's Shanghai,$$,4.0,5942
5,5,0CjK3esfpFcxIopebzjFxA,Joe's Shanghai,$$,4.0,5942
5,5,0CjK3esfpFcxIopebzjFxA,Joe's Shanghai,$$,4.0,5942
6,6,UA2M9QFZghe-9th2KwLoWQ,Burger & Lobster,$$,4.0,5273
6,6,UA2M9QFZghe-9th2KwLoWQ,Burger & Lobster,$$,4.0,5273